@use "global.css"

$bigger: 1024px
$medium: 768px
$small: 468px


/* Header */
@mixin hide-when-short
    @media screen and (min-width: $bigger)
        visibility: visible
    @media screen and (max-width: $bigger)
        visibility: hidden
    @media screen and (min-width: $small)
        margin: 0 10px 0 20px
    @media screen and (max-width: $small)
        margin: 0



header
    background: #C60800

    .header
        @media screen and (min-width: $medium)
            height: 46px
            padding: 20px
        @media screen and (max-width: $medium)
            height: 32px
            padding: 10px 13px

        display: flex
        align-items: center
        justify-content: space-between

        margin: 0 auto
        max-width: 1260px
        background: #C60800

        .buttons
            display: flex
            justify-content: flex-start
            align-items: center

            img
                @include hide-when-short
                width: 25px
                height: 25px
                cursor: pointer

            button
                display: flex
                align-items: center
                justify-content: space-between

                background: #C60800
                cursor: pointer
                border: white solid 1px
                border-radius: 2px
                padding: 7px

                .menu-text
                    @media screen and (min-width: $medium)
                        display: block
                    @media screen and (max-width: $medium)
                        display: none

                    color: #fff
                    font-family: "Neue Haas Display", sans-serif
                    font-size: 14px
                    font-weight: 600
                    letter-spacing: 0.04em
                    margin-left: 7px

                .menu-icon
                    padding: 0
                    height: 14px
                    width: 16px

                    display: flex
                    flex-direction: column
                    justify-content: space-between

                    span
                        background-color: white
                        height: 2px
                        width: 16px

        .logo
            justify-content: center
            position: relative

            svg
                @media screen and (min-width: $medium)
                    height: 55px
                    width: 370px
                @media screen and (max-width: $medium)
                    height: 32px
                    width: 215px

                @media screen and (min-width: $small)
                    left: 0
                @media screen and (max-width: $small)
                    left: 20px
                z-index: 1
                position: absolute
                top: 0
                transform: translate(-50%, -50%)


        .pagesix-logo
            @include hide-when-short
            margin-right: 20px
            padding-right: 5px

    .header-date
        @media screen and (min-width: $medium)
            display: flex
            align-items: center
            justify-content: center
        @media screen and (max-width: $medium)
            display: none

        height: 20px
        background-color: black

        p
            color: #fff
            font-size: 12px
            font-weight: 700
            font-family: Arial, sans-serif

