/* Global */
@font-face {
  font-family: "Neue Haas Display";
  src: url("fonts/neue-grotesk/NeueHaasDisplayBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Neue Haas Display";
  src: url("fonts/neue-grotesk/NeueHaasDisplayBlack.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background: #C60800;
}
header .header {
  height: 46px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1260px;
  background: #C60800;
}
header .header .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header .buttons img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
  margin-left: 20px;
}
@media screen and (max-width: 1260px) {
  header .header .buttons img {
    visibility: hidden;
  }
}
header .header .buttons button {
  background: #C60800;
  color: #fff;
  font-family: "Neue Haas Display", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: white solid 1px;
  border-radius: 3px;
  padding: 7px;
}
header .header .pagesix-logo {
  margin-right: 20px;
}
@media screen and (max-width: 1260px) {
  header .header .pagesix-logo {
    visibility: hidden;
  }
}
header .header-date {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
header .header-date p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: "Neue Haas Display", sans-serif;
}

/* Main content */
.body {
  width: 69rem;
  margin: 0 auto;
  max-width: 100%;
  height: max-content;
}
.body * {
  box-sizing: border-box;
}
.body .main-content {
  display: grid;
  padding: 30px 20px;
  grid-template-columns: minmax(0px, 1fr) 300px;
  column-gap: 30px;
  margin-bottom: 50px;
  height: max-content;
}
.body .main-content main {
  height: max-content;
  width: 100%;
}
.body .main-content aside {
  height: max-content;
  width: 100%;
  background-color: aqua;
}

/* Articles */
.main-content main article {
  width: 100%;
  height: max-content;
}
.main-content main article h3 {
  color: rgb(198, 8, 0);
  font-weight: 600;
  font-family: "Neue Haas Display", sans-serif;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 58px;
  margin: 0 0 16px;
}
.main-content main article a img {
  margin-bottom: 15px;
  display: block;
  width: 100vw;
  position: relative;
  max-width: 100%;
}
.main-content main article h2 {
  width: 100%;
  margin: 0 0 16px;
  text-align: center;
}
.main-content main article h2 a {
  line-height: 37.8px;
  letter-spacing: -0.01em;
  font-size: 36px;
  font-family: "Neue Haas Display", sans-serif;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.main-content main article p a {
  line-height: 20px;
  letter-spacing: -0.16px;
  color: rgb(88, 88, 88);
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  cursor: pointer;
}
.main-content main .articles-in-thirds {
  margin: 20px 0;
  border-top: rgb(204, 204, 204) solid 1px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 10px;
}
.main-content main .articles-in-thirds article {
  width: 100%;
  height: 100%;
  display: block;
}
.main-content main .articles-in-thirds article a {
  text-decoration: none;
  text-transform: none;
  text-align: left;
  height: auto;
  width: 100%;
  display: block;
  color: black;
  font-weight: 600;
  font-family: "Neue Haas Display", sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.18px;
}
.main-content main .articles-in-thirds article a img {
  margin-bottom: 10px;
  display: block;
  width: 100vw;
  position: relative;
  max-width: 100%;
}
.main-content main .hot-topic {
  display: flex;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;
  vertical-align: baseline;
  border-image-width: 1;
  border-image-repeat: stretch;
  border-image-slice: 100%;
}
.main-content main .hot-topic h2 {
  text-transform: uppercase;
  border: black 5px solid;
  display: inline-block;
  max-width: 90%;
  transform: skew(-10deg);
}
.main-content main .hot-topic h2 a {
  border-bottom: black 3px solid;
  border-left: black 1px solid;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  height: auto;
  width: 100%;
  display: inline-block;
  box-shadow: -1px 1px 0 black;
  color: black;
  font-weight: 600;
  font-family: "Neue Haas Display", sans-serif;
  font-size: 30px;
  line-height: 28px;
  letter-spacing: 1.5px;
  padding: 10px 15px;
}
.main-content main .hot-topic h2 ::before, .main-content main .hot-topic h2 ::after {
  content: "";
  border-bottom: solid 3px black;
  display: inline-block;
  line-height: 20px;
  align-self: center;
}

/*# sourceMappingURL=monitor.css.map */
