$bigger: 1260px

*
    margin: 0
    padding: 0


/* Header */
@mixin hide-when-short
    @media screen and (max-width: $bigger)
        visibility: hidden

header
    background: #C60800

    .header
        height: 46px
        padding: 20px
        display: flex
        align-items: center
        justify-content: space-between
        position: relative
        left: 50%
        transform: translateX(-50%)
        max-width: 1260px
        background: #C60800

        .buttons
            display: flex
            justify-content: center
            align-items: center

            img
                @include hide-when-short
                width: 30px
                height: 30px
                margin-right: 10px
                cursor: pointer
                margin-left: 20px

            button
                background: #C60800
                color: #fff
                font-size: 14px
                font-weight: 600
                cursor: pointer
                border: white solid 1px
                border-radius: 3px
                padding: 7px

        .pagesix-logo
            @include hide-when-short
            margin-right: 20px

    .header-date
        height: 20px
        display: flex
        align-items: center
        justify-content: center
        background-color: black

        p
            color: #fff
            font-size: 14px
            font-weight: 600
            font-family: sans-serif

/* Main content */
.body
    *
        box-sizing: border-box
    width: calc(66.5rem + (1.25rem*2))
    margin: 0 auto
    max-width: 100%
    height: max-content

    .main-content
        display: grid
        padding: 30px 20px
        grid-template-columns: 734px 300px
        column-gap: 30px
        margin-bottom: 50px
        height: max-content

        main
            height: max-content
            width: 100%
        aside
            height: max-content
            width: 100%
            background-color: aqua


/* Articles */
@font-face
    font-family: "Neue Haas Display"
    src: url("fonts/neue-grotesk/NeueHaasDisplayBold.ttf")


.main-content main article
    width: 100%
    height: max-content

    h3
        color: rgb(198, 8, 0)
        font-weight: 500
        font-family: "Neue Haas Display", sans-serif
        font-size: 70px
        text-align: center
        text-transform: uppercase
        vertical-align: baseline
        box-sizing: border-box
        line-height: 58px
